.books__head {
  height: 150px;
  width: 100%;
  background-image: url(../../assets/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  color: #F9F7F7;
  justify-content: space-between;
  padding: 50px 100px;
}
.books__head h1 {
  font-size: 32px;
  font-weight: 600;
}
@media (max-width: 39.9375em) {
  .books__head {
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }
}
.books__links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.books__links a {
  display: flex;
  gap: 0.4rem;
}
.books__links a svg {
  color: #3F72AF;
}
.books__links span {
  color: rgb(201, 194, 194);
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.books__content {
  max-width: 1200px;
  margin: auto;
}
.books__title h2 {
  font-size: 29px;
  margin-top: 20px;
  font-weight: 600;
  border-bottom: 2px solid #112D4E;
  width: -moz-fit-content;
  width: fit-content;
  margin: 20px 40px;
}
@media (max-width: 39.9375em) {
  .books__title {
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }
}
.books__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
  margin: 20px 0;
}
.books__pagination {
  cursor: pointer;
  text-transform: capitalize;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.books__pagination span {
  padding: 10px 15px;
  background-color: #DBE2EF;
  margin: 10px 5px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 500;
  color: #112D4E;
}

.categories__title {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1.5rem;
}
.categories__title h2 {
  margin-top: 45px;
  font-size: 24px;
  font-weight: 600;
  margin-left: 30px;
}

.about__head {
  height: 150px;
  width: 100%;
  background-image: url(../../assets/banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about__head h1 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about__head p {
  font-size: 17px;
}
.about__content {
  padding: 50px;
  margin: auto;
}
.about__content h1 {
  font-size: 32px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  border-bottom: 3px solid #112D4E;
  width: -moz-fit-content;
  width: fit-content;
  border-left: 3px solid #112D4E;
  padding: 10px;
  margin: 20px auto;
}
@media (max-width: 39.9375em) {
  .about__content {
    padding: 10px;
  }
}
.about__cols {
  display: flex;
  align-items: start;
  justify-content: start;
}
@media (max-width: 39.9375em) {
  .about__cols {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.about__col1 {
  width: 50%;
  margin: 10px;
  font-size: 17px;
}
@media (max-width: 39.9375em) {
  .about__col1 {
    width: 100%;
  }
}
.about__col1 img {
  height: 100%;
  width: 100%;
}

.contactPage__head {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #112D4E;
}
@media (max-width: 39.9375em) {
  .contactPage__head {
    flex-direction: column;
    text-align: center;
    height: 200px;
  }
}
.contactPage__head h1 {
  font-size: 32px;
  font-weight: 700;
  color: #F6AF03;
  margin-bottom: 20px;
}
.contactPage__head p {
  font-size: 17px;
  font-weight: 300;
  color: #ccc;
}
.contactPage__cols {
  max-width: 80%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin: 50px auto;
  padding: 10px;
  height: auto;
  overflow: hidden;
}
@media (max-width: 39.9375em) {
  .contactPage__cols {
    max-width: 100%;
    flex-direction: column;
    margin: 0;
  }
}
.contactPage__info {
  width: 40%;
  background-color: #011C2B;
  color: #DBE2EF;
  padding: 50px;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 2.5rem;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  z-index: 88;
}
@media (max-width: 39.9375em) {
  .contactPage__info {
    width: 100%;
    flex-direction: column;
    margin: 0;
    padding: 20px;
  }
}
.contactPage__info::before {
  content: "";
  position: absolute;
  background-color: #ccc;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  bottom: -30px;
  right: -30px;
  opacity: 0.4;
}
.contactPage__info::after {
  content: "";
  position: absolute;
  background-color: #ccc;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  bottom: 100px;
  right: 80px;
  opacity: 0.5;
}
.contactPage__info h2 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 10px;
}
.contactPage__info p {
  color: #5f5a5a;
  font-weight: 300;
}
.contactPage__info .contact span {
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 1.5rem;
  margin: 20px 0;
}
.contactPage__info .icons {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: auto;
}
.contactPage__info .icons a {
  background-color: #F6AF03;
  color: #011C2B;
  padding: 6px;
  border-radius: 50%;
}
.contactPage__info .icons a:hover {
  transition: 0.4s;
  border-radius: 0;
}
.contactPage__form {
  width: 60%;
  padding: 50px;
  position: relative;
}
@media (max-width: 39.9375em) {
  .contactPage__form {
    width: 100%;
    flex-direction: column;
    margin: 0;
    padding: 20px;
  }
}
.contactPage__form form {
  z-index: 80;
  position: relative;
}
.contactPage__form .col {
  display: flex;
  align-items: center;
}
@media (max-width: 39.9375em) {
  .contactPage__form .col {
    flex-direction: column;
  }
}
.contactPage__form .col .input {
  width: 50%;
  flex-direction: column;
  display: flex;
  margin: 20px 10px;
}
@media (max-width: 39.9375em) {
  .contactPage__form .col .input {
    width: 100%;
  }
}
.contactPage__form .col .input label {
  font-size: 17px;
  font-weight: 400;
}
.contactPage__form .col .input input {
  outline: none;
  border: none;
  padding: 10px 5px;
  border-bottom: 2px solid #ccc;
  font-size: 16px;
}
.contactPage__form .select {
  padding: 10px;
  width: 100%;
}
.contactPage__form .select .options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
@media (max-width: 39.9375em) {
  .contactPage__form .select .options {
    flex-direction: column;
    gap: 1.5rem;
  }
}
.contactPage__form .select label {
  display: flex;
  align-items: center;
  font-size: 17px;
  cursor: pointer;
  position: relative;
  gap: 8px;
}
.contactPage__form .select label input {
  display: none;
}
.contactPage__form .textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}
.contactPage__form .textarea h3 {
  font-size: 17px;
  font-weight: 500;
  border-bottom: 2px solid #ccc;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 5px;
}
.contactPage__form .textarea textarea {
  width: 100%;
  outline: none;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 10px;
  resize: none;
  margin: 10px 0;
}
.contactPage__form button {
  padding: 15px 10px;
  background-color: #011C2B;
  color: #DBE2EF;
  font-size: 17px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  float: right;
}
.contactPage__form button:hover {
  background-color: #F6AF03;
  color: #011C2B;
}
.contactPage__form button:active {
  background-color: #F39C11;
}
.contactPage__form::before {
  content: "";
  position: absolute;
  background-image: url(../../assets/image.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 30%;
  bottom: -14%;
  right: 10%;
  width: 100%;
  height: 100%;
}
@media (max-width: 39.9375em) {
  .contactPage__form::before {
    bottom: -100px;
    background-size: 100%;
  }
}

.accountPage {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.accountPage__sideBar {
  width: 20%;
}
.accountPage__content {
  width: 80%;
  margin-left: 20px;
  height: 100%;
  min-height: 100vh;
  padding: 20px;
}
.accountPage__SideBar {
  background-color: #112D4E;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.accountPage__SideBar a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 15px 0;
  background-color: #DBE2EF;
  color: #011C2B;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  margin: 10px auto;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.accountPage__SideBar a:hover {
  background-color: gold;
  transition: all 0.3s ease;
  color: #112D4E;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.accountPage__SideBar img {
  margin-top: 20px;
  width: 200px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}
.accountPage__setting h2 {
  font-size: 23px;
  font-weight: 600;
  border-bottom: 2px solid #011C2B;
  width: -moz-fit-content;
  width: fit-content;
  border-left: 2px solid #011C2B;
  padding: 10px;
}
.accountPage__setting .col {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.accountPage__setting .col .input {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10px;
}
.accountPage__setting .col .input label {
  width: 100%;
  margin: 10px;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  position: relative;
  padding-bottom: 5px;
}
.accountPage__setting .col .input label::before {
  content: "";
  position: absolute;
  background-color: #011C2B;
  height: 2px;
  width: 10%;
  bottom: 0;
  left: 0;
}
.accountPage__setting .col .input input {
  padding: 10px;
  outline: none;
  border-bottom: 2px solid #ccc;
}
.loginPage {
  padding: 50px 100px;
  min-height: 100vh;
  background-color: #DBE2EF;
}
.loginPage__box {
  background-color: #F9F7F7;
  min-height: 90vh;
  padding: 50px;
  max-width: 1500px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}
.loginPage__col {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.loginPage__back {
  width: 40%;
  background-image: url(../../assets/backLogin.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 760px;
  display: flex;
  align-items: center;
  border-radius: 15px;
}
.loginPage__back h1 {
  color: #F9F7F7;
  font-size: 50px;
  margin: auto;
  text-shadow: 0px 0px 18px rgba(0, 0, 0, 0.7);
}
.loginPage__form {
  width: 50%;
  height: 760px;
  padding: 100px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
}
.loginPage__form .input {
  width: 100%;
  margin: 20px 0;
}
.loginPage__form .input label {
  font-size: 23px;
  width: 25%;
  position: relative;
  padding-bottom: 10px;
  display: block;
}
.loginPage__form .input label::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #112D4E;
  bottom: 0;
  left: 0;
}
.loginPage__form .input input {
  width: 100%;
  padding: 20px 14px;
  margin: 15px 0;
  background-color: #f3f3f3;
  color: #000;
  outline: none;
  border-radius: 10px;
  box-shadow: 1px 1px 40px rgba(0, 0, 0, 0.14);
}
.loginPage__link {
  font-size: 16px;
  color: #3F72AF;
  display: flex;
  width: 100%;
  justify-content: end;
  margin: 5px 0;
}
.loginPage .btn {
  width: 70%;
  display: block;
  margin: 30px auto 10px auto;
  background-color: #112D4E;
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
}
.loginPage .line {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  position: relative;
  gap: 1rem;
}
.loginPage .line::before {
  content: "";
  width: 50%;
  background-color: #ccc;
  left: 0;
  height: 2px;
}
.loginPage .line::after {
  content: "";
  width: 50%;
  background-color: #ccc;
  right: 0;
  height: 2px;
}
.loginPage__btn_social {
  background-color: #DBE2EF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  padding: 10px 15px;
  gap: 1.5rem;
  width: 70%;
  text-align: center;
  border-radius: 10px;
}
.loginPage__btn_social img {
  width: 20px;
  height: 20px;
}
.loginPage__btn_social:hover {
  background-color: #3F72AF;
  transition: 0.5s all;
  color: #fff;
}
.loginPage .signup {
  font-size: 18px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
.loginPage .signup a {
  color: #3F72AF;
  margin-left: 10px;
  font-weight: 500;
}/*# sourceMappingURL=style.css.map */