.carousel-container {
  max-width: 100%;
  margin: auto;
  padding: 20px;
}

.slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.carousel {
  width: 300px !important;
  height: 400px !important;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
}

.carousel__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__info {
  width: 100%;
  position: absolute;
  top: 0; 
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  padding: 15px;
  text-align: center;
  transform: translateY(-100%); /* Initially hidden above */
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}


.carousel:hover .carousel__info {
  transform: translateY(0); /* Slide down when hovering */
  opacity: 1;
}


.carousel__title {
  font-size: 20px;
  font-weight: 700;
  color: #124988;
  border-bottom: 2px solid #112D4E;
  width: 100%;
  margin-bottom: 5px;
}

.carousel__des {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Number of lines before ellipsis */
  -webkit-box-orient: vertical;
}

/* RESPONSIVE DESIGN */
@media only screen and (max-width: 1024px) {
  .carousel-container {
    max-width: 90% !important;
  }
  .carousel {
    height: 350px !important;
  }
}

@media only screen and (max-width: 600px) {
  .carousel {
    width: 90% !important;
    height: auto !important;
  }
  .carousel__img {
    height: auto !important;
  }
}
